<!-- <footer class="footer">
    <mat-toolbar class="footer">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
  
        <button mat-button routerLink="/home" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
            <mat-icon>home</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>home</span>
          </div>
        </button>
  
        <button mat-button routerLink="/forums" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
            <mat-icon>forums</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>forums</span>
          </div>
        </button>
  
        <button mat-button routerLink="/messages" routerLinkActive="active-menu-item">
          <div class="toolbar-icon">
            <mat-icon>messages</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>messages</span>
          </div>
        </button>
  
        <button mat-button (click)="onToggleSidenav()">
          <div class="toolbar-icon">
            <mat-icon>more_horiz</mat-icon>
          </div>
          <div class="toolbar-icon-text">
            <span>more</span>
          </div>
        </button>
  
      </div>
    </mat-toolbar>
  </footer> -->

<footer class="footer mat-elevation-z4">
    <div class="footer-row">
        <div class="footer-column">
            <div class="footer-card">
                <div class="card-body">
                    <h5 class="raleway_bold">NOSOTROS<img class="footer-line" src="assets/img/line-white.jpg"></h5>
                    <p class="raleway_regular">Handyman es una empresa guatemalteca dedicada a brindar mantenimiento a hogares e industria.</p>
                </div>
            </div>    
        </div>
        <div class="footer-column">
            <div class="footer-card">
                <div class="card-body">
                    <h5 class="raleway_bold">CONTÁCTANOS<img class="footer-line" src="assets/img/line-white.jpg"></h5>
                    <p class="raleway_regular">17 calle 14-99, Complejo Industrial El Naranjo, Zona 4 Mixco Guatemala</p>
                    <p class="raleway_regular"><a class="footer-a" href="tel:+(502)45176636">+(502) 4517-6636</a><br>
                    <a class="footer-a" href="mailto:info@handyman.gt">info@handyman.gt</a></p>
                </div>
            </div>
        </div>
        <div class="footer-column">
            <div class="footer-card">
                <div class="card-body">
                    <h5 class="raleway_bold">REDES SOCIALES<img class="footer-line" src="assets/img/line-white.jpg"></h5>
                    <p class="raleway_regular">Puedes conocer más de nosotros y de nuestros servicios en nuestras redes sociales.</p>
                    <a href="https://www.facebook.com/handymanbyarquna"  target="_blank"><img src="assets/img/social/facebook.png" class="footer-img"></a>
                    <a href="https://www.instagram.com/handymanbyarquna" target="_blank"><img src="assets/img/social/instagram.png" class="footer-img"></a>
                    <a href="https://www.twitter.com/handymanbyarquna"   target="_blank"><img src="assets/img/social/twitter.png" class="footer-img"></a>
                    <a href="https://wa.me/50245176636"                  target="_blank"><img src="assets/img/social/whatsapp.png" class="footer-img"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

              <!--Esta sección está visible sólo en desktop.-->
              <!-- <div class="d-none d-lg-inline-flex d-xl-inline-flex footer-web">
                <span>
                    <div class="footer-card">
                        <div class="card-body">
                            <h5 class="raleway_bold">NOSOTROS<img class="footer-line" src="assets/img/line-white.jpg"></h5>
                            <p class="card-text">Handyman es una empresa guatemalteca dedicada a brindar mantenimiento a hogares e industria.</p>
                        </div>
                    </div>        
                </span>
                <span class="ml-auto">
                    <div class="footer-card">
                        <div class="card-body">
                            <h5 class="raleway_bold">CONTÁCTANOS<img class="footer-line" src="assets/img/line-white.jpg"></h5>
                            <p class="card-text">17 calle 14-99, Complejo Industrial El Naranjo, Zona 4 Mixco Guatemala</p>
                            <p class="card-text"><a class="footer-a" href="tel:+(502)45176636">+(502) 4517-6636</a><br>
                            <a class="footer-a" href="mailto:info@handyman.gt">info@handyman.gt</a></p>
                        </div>
                    </div>
                </span>
                <span class="ml-auto">
                    <div class="footer-card">
                        <div class="card-body">
                            <h5 class="raleway_bold">REDES SOCIALES<img class="footer-line" src="assets/img/line-white.jpg"></h5>
                            <p class="card-text">Puedes conocer más de nosotros y de nuestros servicios en nuestras redes sociales.</p>
                            <a href="https://www.facebook.com/handymanbyarquna"  target="_blank"><img src="assets/img/social/facebook.png" class="footer-img"></a>
                            <a href="https://www.instagram.com/handymanbyarquna" target="_blank"><img src="assets/img/social/instagram.png" class="footer-img"></a>
                            <a href="https://www.twitter.com/handymanbyarquna"   target="_blank"><img src="assets/img/social/twitter.png" class="footer-img"></a>
                            <a href="https://wa.me/50245176636"                  target="_blank"><img src="assets/img/social/whatsapp.png" class="footer-img"></a>
                        </div>
                    </div>
                </span> 
            </div> -->
        
            <!--Esta sección está visible sólo en movil.-->
            <!-- <div class="d-lg-none d-xl-none footer-web footer-movil">
                <div class="footer-card">
                    <div class="card-body">
                        <h5 class="raleway_bold">CONTÁCTANOS<img class="footer-line" src="assets/img/line-white.jpg"></h5>
                        <p class="card-text">17 calle 14-99, Complejo Industrial El Naranjo, Zona 4 Mixco Guatemala</p>
                        <p class="card-text"><a class="footer-a" href="tel:+(502)45176636">+(502) 4517-6636</a><br>
                        <a class="footer-a" href="mailto:info@handyman.gt">info@handyman.gt</a></p>
                        <a href="https://www.facebook.com/handymanbyarquna"  target="_blank"><img src="assets/img/social/facebook.png" class="footer-img"></a>
                        <a href="https://www.instagram.com/handymanbyarquna" target="_blank"><img src="assets/img/social/instagram.png" class="footer-img"></a>
                        <a href="https://www.twitter.com/handymanbyarquna"   target="_blank"><img src="assets/img/social/twitter.png" class="footer-img"></a>
                        <a href="https://wa.me/50245176636"                  target="_blank"><img src="assets/img/social/whatsapp.png" class="footer-img"></a>
                    </div>
                </div>    
            </div> -->