<p class="breadcrumb-p"><a class="breadcrumb-a" [routerLink]="['/home']">Inicio</a> / Nosotros</p>
<hr class="breadcrumb-hr">
<app-banner></app-banner>
<br>
<div class="text-center">
  <p class="section-title">¿ Quiénes somos ?</p>
</div>

<div class="container container-company text-center animated fadeIn">
  <div class="card card-company-info image-border">
    <div class="card-body">
      <img class="img-logotipo" src="assets/img/brand/logotipo-min.png">
      <p class="company-about">Handyman es una empresa guatemalteca dedicada a brindar mantenimiento a hogares e industria.</p>
    </div>
  </div>
</div>

<br>
<div class="text-center">
  <p class="section-title">¿ Por qué trabajar con nosotros?</p>
</div>

<div class="container container-company text-center animated fadeIn">
  <div class="card card-company-about image-border">
    <div class="card-body">
      <img class="img-about" src="assets/img/about/calidad.png">
      <p class="company-title">CALIDAD</p>
      <p class="company-about">Todos nuestros servicios son prestados por HANDYMAN's altamente calificados, en constante capacitación y supervisión, por lo que la calidad de nuestros servicios es siempre la mejor. Nuestro Director de Operaciones es Ingeniero Industrial y especialista en control de calidad por lo que estamos constantemente innovando para mejorar nuestro servicio.</p>
    </div>
  </div>

  <div class="card card-company-about image-border animated fadeIn">
    <div class="card-body">
      <img class="img-about" src="assets/img/about/garantia.png">
      <p class="company-title">GARANTÍA</p>
      <p class="company-about">Nuestro trabajo tiene el respaldo de profesionales en su rama (Ingenieros Eléctricos, Ingenieros Industriales, Arquitectos, etc.), y cuenta con un mes de garantía sobre cualqueir desperfecto en la instalación.<br><br><br><br><br><br></p>
    </div>
  </div>

  <div class="card card-company-about image-border animated fadeIn">
    <div class="card-body">
      <img class="img-about" src="assets/img/about/supervision.png">
      <p class="company-title">SUPERVISIÓN</p>
      <p class="company-about">Nuestros HANDYMAN´s están constantemente supervisados, contamos con personal experto en cada área que atendemos, que supervisa fotográficamente que todos los trabajos sean efectuados con la mejor calidad posible y que cumplan con todos los estándares de calidad y de ser necesario o de existir alguna duda, hacemos una inspección personal.<br></p>
    </div>
  </div>
</div>


<br>
<div class="text-center">
    <p class="section-title">Nuestros valores</p>
</div>

<div class="container container-company text-center animated fadeIn">
    <div class="card card-company-about image-border">
    <div class="card-body">
      <img class="img-about" src="assets/img/about/vision.png">
      <p class="company-title">VISIÓN</p>
      <p class="company-about">Proporcionar a Latinoamerica una solución integral para el mantenimiento de sus hogares comprometiéndonos con su realidad y brindándoles servicios de excelencia y atención personalizada hasta la puerta de su casa.</p>
    </div>
  </div>

  <div class="card card-company-about image-border animated fadeIn">
    <div class="card-body">
      <img class="img-about" src="assets/img/about/mision.png">
      <p class="company-title">MISIÓN</p>
        <p class="company-about">Revolucionar el mercado latinoamericano, sobrepasando las expectativas de servicio, respaldo y atención puerta a puerta, con productos de calidad y atención profesional a un precio razonable.<br><br></p>
    </div>
  </div>
</div>