<p class="breadcrumb-p"><a class="breadcrumb-a" [routerLink]="['/home']">Inicio</a> / Confirmación de Reserva</p>
<hr class="breadcrumb-hr">

<div class="container container-company image-border animated fadeIn">
</div>

<!--Esta sección está visible sólo en desktop.-->
<div class="d-none d-lg-block d-xl-block">
    <form>
        <div class="row animated fadeIn">
            <!-- Formulario para datos de la visita -->
            <div class="container">
                    <div class="container">
                        <h1 class="section-title">Confirmación de Reserva</h1>
                        <hr class="cart-hr">
                    </div>

                    <label class="ml-3" for="nombre">Reserva Confirmada!</label>
                    <p class="raleway_regular text-size-14 ml-3">Tu reserva ha sido recibida, muy pronto nos comunicaremos para afinar detalles.</p>

                    <br>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div class="container">
                        <a class="breadcrumb-a" [routerLink]="['/home']">CONTINUAR COMPRANDO</a>
                    </div>
    

            </div>

        </div>
    </form>
</div>    

<br>

